In [7]:
employees=[{"name":"john", "salary":"5000"}, {"name":"Prakruthi", "salary":"1"}, {"name":"Manasa","salary":"10"}]
total_salary=sum(emp["salary"] for emp in employees)
average_salary=total_salary/len(employees)
print("ëmployees details")
for emp in employees:
    print(f"name:{emp['name']}")
    print(f"total salary : {total_salary} is total salary of all")
    print(f"{average_salary} is average salary of all")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [8]:
def fibonacci(n):
a=10
b=0
c=1
next_number=num2
count=1
while count<=n:
    print(next_number,end=" ")
    count+=1
    num1,num2=num2,ne
print()
fibonacci(5)

IndentationError: expected an indented block after function definition on line 1 (2332418113.py, line 2)

In [11]:
employees=[{"name":"john","salary":"5000"}, {"name":"Prakruthi","salary":"1"}, {"name":"Manasa","salary":"10"}]
total_salary=sum(int(emp["salary"]) for emp in employees)
average_salary=total_salary/len(employees)
print("ëmployees details")
for emp in employees:
    print(f"name:{emp['name']}")
    print(f"total salary : {total_salary} is total salary of all")
    print(f"{average_salary} is average salary of all")

ëmployees details
name:john
total salary : 5011 is total salary of all
1670.3333333333333 is average salary of all
name:Prakruthi
total salary : 5011 is total salary of all
1670.3333333333333 is average salary of all
name:Manasa
total salary : 5011 is total salary of all
1670.3333333333333 is average salary of all

In [13]:
import numpy as np
from scipy import linalg
matrix1=np.array([[1,2],[3,4]])
matrix2=np.array([[5,6],[7,8]])
matrix_sum=matrix1+matrix2
matrixdotproduct=np.dot(matrix1,matrix2)
linalgorithm=linalg.solve(matrix1,matrix2)
print(f"the matrixsum is {matrix_sum} and matrixdot is {matrixdotproduct} and linalgorith is {linalgorithm}")

the matrixsum is [[ 6  8]
 [10 12]] and matrixdot is [[19 22]
 [43 50]] and linalgorith is [[-3. -4.]
 [ 4.  5.]]